<!-- Ask The Expert    -->
<!-- by Brian Cottrell -->
<!-- 02-13-2016        -->
<!-- Index View        -->

<!DOCTYPE html>
<html lang='en'>
<head>
    <script src='https://websdk.live.gotoassist.com/concierge.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>
<body>
    <style>
        .intro{
            font-size: 20px;
            font-family: arial;
        }
    </style>
    <div class='conent'>
        Hello World
        <a href='http://cs-server.usc.edu:28154/image_capture.html'>
            <button class='photo'>
                <p>Photograph Text</p>
            </button>
        </a>
        <button class='i-to-t'>
            <p>Image To Text</p>
        </button>
        <DefaultButton onClick='concierge.open()'>
            <button class='start-chat'>
                <p>Open Chat</p>
            </button>
        </DefaultButton>
        <button class='answer'>
            <p>Get Answers</p>
        </button>
    </div>
    <script>
    	var hpApiKey = <%- JSON.stringify(hpKey) %>;
        var corticalApiKey = <%- JSON.stringify(corticalKey) %>;
        var citrixApiKey = <%- JSON.stringify(conciergeKey) %>;
        var imageToTextButton = document.getElementsByClassName('i-to-t')[0];
        imageToTextButton.addEventListener('click', function(){
            $.get("https://api.havenondemand.com/1/api/sync/ocrdocument/v1", 
                {   
                    url: 'http://cs-server.usc.edu:28154/uploads/capture.jpg', 
                    apikey: hpApiKey
                }, 
                function(data, status, xhr)
                {
                    alert(data.text_block[0].text);
                    // document.getElementsByClassName('image-text')[0].innerHTML=data.text_block[0].text;
                },
                "json"
            );
        });

        var answerButton = document.getElementsByClassName('i-to-t')[0];
        var data = <%- JSON.stringify(appData) %>;

        concierge.setApplicationKey(citrixApiKey);
        concierge.addDefaultButton('Contact This Expert');
    </script>​
</body>
</html>